img {
    display: flex;
    align-items: center;
    width: 200px;
    height: 200px;
    margin: 20px auto;
}

.list{
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
}

.item-list{
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 10px;
    overflow: hidden;
}

.item-list-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-right: 10px;
    background: #f4f4f4;
    font-weight: bold;
    padding: 0.5rem 0.5rem;
    cursor: pointer;
}

.item-list-details{
    padding: 10px 15px;
    background: white;
}

.order-items{
    margin: 5px 0 0 20px;
}